html, body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #eee;
    color: #333;
}
@keyframes background-anim
 {
    0%{background:#eee;}

    100%{background-color: #ccc;}
}
.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
button,input{
    padding: 10px 20px;
    border:1px solid #c2962e;
    border-radius:2px;
    margin:5px;
    color:#04574d;
}
button{width:150px;}
button:hover{
    cursor: pointer;
    font-weight: bolder;
    background:rgb(231, 231, 231);
}
table{
    width:100%;
    margin-top: 20px;
    text-align: center;
}
td{
    padding: 5px;
}
tr th{
    background-color: #c2962e;
    color:white;
    font-size: large;
    padding:10px 5px;
}
tr td{
    background-color: #ccc;
    color:#04574d;
    font-size: large;
}
.padding{
    padding: 5px;
    margin-top:12px;
}